# Arquivo de variáveis de ambiente
.env

# Diretório com scripts e dados do Postgres
tools/postgres/

# Código gerado pelo OpenAPI Generator
gen/openapi/

# Código gerado pelo SQLC
gen/sqlc/

test/mocks/

coverage.out

venv/